html, body {
    height: 100%;
    margin: 0;
}

img {
    width: 100%;
}

.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -200px;
}
.footer,
.push {
    height: 200px;
    background-image: url(PurpleFlowers.jpg);
    color: floralwhite;
}