
.main-cont{
    padding: 50px;
    background-color: lightsteelblue;
}
.picture{
    width: 25%;
    height: 20%;
}

.quote{
    padding: 2%;
    font-family: cursive;
    text-align: match-parent;
    color: darkblue;
    font-style: italic;
    font-size: 30px;
    background-color: paleturquoise;

}

.firstp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
.sk{
    text-align: right;
}


h1{
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    font-size: 30px;

}

/*ul{*/
    /*padding-left: 0px;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
/*}*/

h2{
    font-size: 16px;
}

.video {
    width: 36%;
    height: 18%;
}

.history {
    display: flex;
    flex-direction: row;
}

.pp {
    /*background-color: pink;*/
}

