.LogIn {
    width: 94%;
    background-color: lightsteelblue;

    margin: 3%;
    padding: 10%;

}

.flexBox {
    display: flex;
    flex-direction: column;

}

.submit {
    background-color: darkblue;
    color: white;
}
