
.page {
    padding: 50px;
    background-color: lightgreen;
}

.t {
    padding: 2%;
    font-size: 20px;
    /*text-align: left ;*/

}

.pp {
    padding: 2%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}


.panorama1 {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    height:30%
}
.love {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    height:30%
}
.Abandonment {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    height:30%
}