
#NavTitle{
    color: white;
    font-size: 35px;
    font-family: 'Lobster', cursive;
}
a:link.nav-link,
a:visited.nav-link,
a:hover.nav-link,
a:active.nav-link
        {
            color: lightgray;
        }

/*.nav-item a:link,*/
/*.nav-item a:visited,*/
/*.nav-item a:hover,*/
/*.nav-item a:active*/
        /*{*/
            /*color: #DDDDDD;*/
        /*}*/
