.main-cont{
    padding: 50px;
    background-color: lightsteelblue;
}

/*@media only screen and (max-width: 1260px) {*/
    /*.picture {*/
        /*display: none;*/
    /*}*/
    /*.quote {*/
        /*background-image: url("../Marie/light.jpg");*/
    /*}*/
/*}*/


/*@media only screen and (max-width: 1500px) {*/
    /*.marie1 {*/
        /*display: none;*/
    /*}*/

    /*.m {*/
        /*background-image: url("Marie.jpg");*/
        /*background-blend-mode: screen;*/
    /*}*/
/*}*/
/*@media only screen and (max-width: 1890px) {*/
    /*.marie2 {*/
        /*display: none;*/
    /*}*/

    /*.mm {*/
        /*background: lightyellow;*/
        /*!*background-image: url('cert.jpg');*!*/
        /*background-blend-mode: screen;*/
    /*}*/
/*}*/
/*@media only screen and (max-width: 1880px) {*/
    /*.marie3 {*/
        /*display: none;*/
    /*}*/

    /*.mmm {*/
        /*background-image: url('sunshine.jpg');*/
        /*background-blend-mode: screen;*/
    /*}*/
/*}*/
/*@media only screen and (max-width: 1550px) {*/
    /*.marie4 {*/
        /*display: none;*/
    /*}*/
    /*.mmmm{*/
        /*background-image: url("Liza.jpg");*/
        /*background-blend-mode: screen;*/
    /*}*/
/*}*/

.firstp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.secondp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.thirdp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.picture{
    width: 25%;
    height: 20%;
    max-height: fit-content;
}

.marie1 {
    width: 30%;
    height: 30%;
    max-height: fit-content;
}
.marie2 {
    width: 50%;
    height: 40%;
    max-height: fit-content;
}
.marie3 {
    width: 33%;
    height: 20%;
    max-height: fit-content;
}
.marie4 {
    width: 30%;
    height: 20%;
    max-height: fit-content;
}

.aboutMarie {
    padding: 50px;
    background-color: lightsteelblue;
}

.m {
    padding: 2%;
    font-size: 2vw;
    text-align: center;
    background-color: lightblue;
    font-family: 'Lobster', cursive;
}

.mm {
    padding: 2%;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    background-color: cornsilk;
    width: 100%;
}

.mmm {
    padding: 2%;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    background-color: plum;
    backdrop-filter: opacity(30%);
}

.mmmm {
    padding: 2%;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    background-color: lightyellow;
    width: 100%;
}

.e {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}


.quote{
    padding: 2%;
    font-family: 'Lobster', cursive;
    /*font-family: cursive;*/
    text-align: match-parent;
    color: darkblue;
    /*font-style: italic;*/
    font-size: 2vw;
    background-color: paleturquoise;
}
