.flexBoxContainer{
    display: flex;
}

/*.colorExample {*/
    /*background: red;*/
/*}*/

h1 {
    /*padding-top: 40px;*/
    /*padding-bottom: 20px;*/
    font-size: 30px;
    /*background-color: lightsteelblue;*/
}

h2{
    font-size: 18px;
    /*padding: 30px;*/
    /*background-color: lightblue;*/
}

.table{
    padding: 2%;
}

.h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.hh{

    padding: 2%;

}

.hhh{
    text-align: left;
    border: dotted;
    padding: 5%;
    font-size: 22px;
}


.sanfran{
    height: 85%;
    width: 25%;
}

.history {
    display: flex;
    flex-direction: row;

}
 .ul {
    text-align: center;
}